* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  background-color: transparent;
}

html, body, #buche-mount-content, #buche-root {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0px;
  padding: 0px;
}

#buche-overlay {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

#buche-info-root {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
}

bubble-tabs#buche-info-root > .labels {
  justify-content: flex-end;
}

bubble-tabs#buche-info-root > .panes
> tab-pane > buche-log > log-entry {
  padding-left: 0px;
  margin-left: 0px;
}

#buche-stdout-label.active {
  background: #ccf;
}

#buche-stderr-label.active,
#buche-buerr-label.active {
  background: #fcc;
}

#buche-stdout-pane {
  border-left: 4px solid blue;
}

#buche-stderr-pane,
#buche-buerr-pane {
  border-left: 4px solid red;
}

placeholder-element, buche-command {
  display: inline-block;
  background: red;
  padding: 2px;
  margin: 2px;
  color: white;
}

placeholder-element:before {
  font-weight: bold;
  content: "?";
}

.buche-error-report {
  border-left: 2px solid red;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buche-error-report tab-pane {
  padding: 5px;
}

span.stdout {
  font-family: monospace;
  white-space: pre;
}
